<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countries Of The World</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
  <div id="app">
    <!--navbar-->
    <div class="row position-sticky top-0">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="https://chengyuu.github.io/Countries-Of-The-World/">
            🌎 Countries
            <span class="d-none d-lg-inline-block">of the World</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center flex-grow-0" id="navbarText">
            <div class="btn-group flex-wrap" role="group">
              <button type="button" class="btn btn-outline-light" @click="changeRegion('')"
                :class="{active:region===''}">All</button>
              <button type="button" class="btn btn-outline-light" @click="changeRegion('Asia')"
                :class="{active:region==='Asia'}">Asia</button>
              <button type="button" class="btn btn-outline-light" @click="changeRegion('Europe')"
                :class="{active:region==='Europe'}">Europe</button>
              <button type="button" class="btn btn-outline-light" @click="changeRegion('Americas')"
                :class="{active:region==='Americas'}">Americas</button>
              <button type="button" class="btn btn-outline-light" @click="changeRegion('Africa')"
                :class="{active:region==='Africa'}">Africa</button>
              <button type="button" class="btn btn-outline-light" @click="changeRegion('Oceania')"
                :class="{active:region==='Oceania'}">Oceania</button>
              <button type="button" class="btn btn-outline-light" @click="changeRegion('Polar')"
                :class="{active:region==='Polar'}">Polar</button>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!--header-->
    <div class="row bg-light border-bottom" v-show="isShow">
      <div class="col">
        <header class="h1 fw-bold d-flex justify-content-center align-items-center" @click="showTime()">{{header}}
        </header>
      </div>
    </div>
    <!--main-->
    <div class="container position-relative py-3" id="main">
      <!--list-->
      <div class="row" v-show="isShow">
        <!--left-->
        <div class="col-md-8 col-lg-9">
          <!--results & search-->
          <div class="row mb-3">
            <div class="input-group">
              <span class="input-group-text">
                {{filterData.length}} results
              </span>
              <input class="form-control" type="search" placeholder="Search" v-model="input">
              <span class="input-group-text">
                page : {{num+1}}/{{Math.ceil(filterData.length/20)}}
              </span>
            </div>
          </div>
          <!--card-->
          <div class="row justify-content-center">
            <div class="col-md-4 col-lg-3 mb-3 d-flex align-items-stretch" v-for="(item,index) in displayData" :key="index" @click="display(item)">
              <div class="card text-center bg-light border border-dark p-1 pb-0 position-relative">
                <img :src="item.flag" class="card-img-top img-fluid" :alt="item.name">
                <div class="card-body d-flex align-items-center justify-content-center py-1">
                  <p class="card-text fw-bold">{{item.name}}</p>
                </div>
                <span class="badge position-absolute top-0 start-0">{{item.region}}</span>
              </div>
            </div>
          </div>
          <!--pagination-->
          <div class="row">
            <div class="col text-center">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-dark" @click.prevent="prePage()">&laquo; Previous</button>
                <button type="button" class="btn btn-outline-dark" @click.prevent="nextPage()">Next &raquo;</button>
              </div>
            </div>
          </div>
        </div>
        <!--right-->
        <div class="d-none d-md-block col-md-4 col-lg-3 mb-3">
          <div class="border border-dark rounded-3 p-2">
            <h3 class="fw-bold h5 text-center border-bottom " v-show="region">In {{region}}</h3>
            <a class="d-block fw-bold h5 text-center"
              href="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population#Sovereign_states_and_dependencies_by_population"
              target="_blank">Ranking of Population</a>
            <ol class="ps-3 pb-3 border-bottom position-relative">
              <li class="mb-1" v-for='(item,index) in rankPopulation' :key="index" @click="display(item)">
                <img :src="item.flag" :alt="item.name" style="width:25px;" class="border border-dark me-2">
                <span class="fw-bold me-1">{{item.alpha3Code}} :</span>
                <span class="text-secondary">
                  {{(item.population/1000000).toFixed(2)}}M
                  ({{(item.population/sumPopulation*100).toFixed(0)}}%)
                </span>
              </li>
              <span class="badge text-dark position-absolute bottom-0 end-0">(unit : people)</span>
            </ol>
            <a class="d-block fw-bold h5 text-center"
              href="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area#Table"
              target="_blank">Ranking
              of Area</a>
            <ol class="ps-3 pb-3 border-bottom position-relative">
              <li class="mb-1" v-for='(item,index) in rankArea' :key="index" @click="display(item)">
                <img :src="item.flag" :alt="item.name" style="width:25px;" class="border border-dark me-2">
                <span class="fw-bold me-1">{{item.alpha3Code}} :</span>
                <span class="text-secondary">
                  {{(item.area/1000000).toFixed(2)}}M
                  ({{(item.area/sumArea*100).toFixed(0)}}%)
                </span>
              </li>
              <span class="badge text-dark position-absolute bottom-0 end-0">(unit : km²)</span>
            </ol>
            <a class="d-block fw-bold h5 text-center"
              href="https://en.wikipedia.org/wiki/List_of_languages_by_the_number_of_countries_in_which_they_are_recognized_as_an_official_language#List"
              target="_blank">Ranking of Languages</a>
            <ol class="ps-3 pb-3 border-bottom position-relative">
              <li class="mb-1" v-for='(item,index) in rankLanguages' :key="index">
                <span class="fw-bold me-1">{{item[0]}} :</span>
                <span class="text-secondary">{{item[1]}} ({{(item[1]/filterData.length*100).toFixed(0)}}%)</span>
              </li>
              <span class="badge text-dark position-absolute bottom-0 end-0">(unit : countries)</span>
            </ol>
            <a class="d-block fw-bold h5 text-center"
              href="https://en.wikipedia.org/wiki/List_of_circulating_currencies#Currencies_by_number_of_countries/_territories"
              target="_blank">Ranking of Currencies</a>
            <ol class="ps-3 pb-3 border-bottom position-relative">
              <li class="mb-1" v-for='(item,index) in rankCurrencies' :key="index">
                <span class="fw-bold me-1">{{item[0]}} :</span>
                <span class="text-secondary">{{item[1]}} ({{(item[1]/filterData.length*100).toFixed(0)}}%)</span>
              </li>
              <span class="badge text-dark position-absolute bottom-0 end-0">(unit : countries)</span>
            </ol>
            <p class="fw-bold text-danger px-1 m-0">The information on this website may not be up to date!</p>
          </div>
        </div>
      </div>
      <!--detail-->
      <div class="row" v-show="!isShow">
        <div class="col-12 mb-2 position-relative">
          <button class="btn btn-sm btn-outline-dark position-absolute top-0 start-0" @click="isShow=true">Back</button>
          <h2 class="h3 fw-bold text-center">{{temp.name}}</h2>
          <a class="btn btn-sm btn-outline-danger position-absolute top-0 end-0"
            :href=`https://en.wikipedia.org/wiki/${temp.name}` target="_blank">More</a>
        </div>
        <div class="col-md-4 col-lg-3 mb-3">
          <div class="border border-dark p-1">
            <img :src="temp.flag" class="img-fluid" :alt="temp.name">
          </div>
        </div>
        <div class="col-md-8 col-lg-5">
          <table class="table table-bordered border-dark align-middle">
            <tbody>
              <tr>
                <th class="bg-light">Native Name</th>
                <td>{{temp.nativeName}}</td>
              </tr>
              <tr>
                <th class="bg-light">Region</th>
                <td>{{temp.region}}</td>
              </tr>
              <tr>
                <th class="bg-light">Subregion</th>
                <td>{{temp.subregion}}</td>
              </tr>
              <tr>
                <th class="bg-light">Capital</th>
                <td>{{temp.capital}}</td>
              </tr>
              <tr>
                <th class="bg-light">Demonym</th>
                <td>{{temp.demonym}}</td>
              </tr>
              <tr>
                <th class="bg-light">Area</th>
                <td>{{temp.area}} km²</td>
              </tr>
              <tr>
                <th class="bg-light">Population</th>
                <td>{{temp.population}} ppl</td>
              </tr>
              <tr>
                <th class="bg-light">Languages</th>
                <td>
                  <ol class="m-0 ps-3">
                    <li v-for="(item,index) in temp.languages" :key="index">
                      {{item.name}}
                      <span v-show="item.nativeName">({{item.nativeName}})</span>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <th class="bg-light">Currencies</th>
                <td>
                  <ol class="m-0 ps-3">
                    <li v-for="(item,index) in temp.currencies" :key="index">
                      {{item.name}}
                      <span v-show="item.code">({{item.code}})</span>
                    </li>
                  </ol>
                </td>
              </tr>
              <tr>
                <th class="bg-light">Timezones</th>
                <td>
                  <ol class="m-0 ps-3">
                    <li v-for="(item,index) in temp.timezones" :key="index">{{item}}</li>
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <div class="border border-dark p-1">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              :src=`https://maps.google.com.tw/maps?f=q&hl=en&q=${temp.name}&z=5&output=embed`></iframe>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div class="row bg-dark text-light">
      <div class="col">
        <footer class="text-center py-3">
          {{copyright}} |
          <a :href="source" target="_blank">source</a> |
          <a href="https://github.com/chengyuu/Countries-Of-The-World" target="_blank"><i class="fab fa-github"></i></a>
        </footer>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="module">
    import { createApp, ref, computed, onMounted, reactive } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.4/vue.esm-browser.min.js'
    const app = createApp({
      setup() {
        // axios取得外部資料
        const data = ref([])
        function getData() {
          const url = "https://restcountries.eu/rest/v2/all"
          axios
            .get(url)
            .then((response) => {
              data.value = response.data;
            })
            .catch((error) => {
              console.log(error)
            })
        }
        // 初始化
        onMounted(() => {
          getData()
        })
        // region 切換                
        function changeRegion(text) {
          region.value = text
          num.value = 0
          isShow.value = true
          temp.value = {}
          input.value = ''
        }
        // 篩選資料&搜尋資料
        const region = ref('')
        const input = ref('')
        const filterData = computed(() => {
          if (input.value) {
            region.value = ''
            return data.value.filter(place => {
              const regexp = new RegExp("^" + input.value, 'gi')
              return place.name.match(regexp)
            })
          }
          if (!region.value) { return data.value }
          const newData = data.value.filter(item => item.region === region.value)
          return newData
        })
        // scroll to top
        function scrollToTop() {
          window.scrollTo({
            top: 0,
            behavior: 'smooth'
          });
        }
        // 顯示20筆
        const num = ref(0)
        function prePage() {
          if (num.value <= 0) {
            alert(`This is the first page!`)
          } else {
            num.value = num.value - 1
            scrollToTop()
          }
        }
        function nextPage() {
          if (filterData.value.length / 20 <= num.value + 1) {
            alert(`This is the last page!`)
          } else {
            num.value = num.value + 1
            scrollToTop()
          }
        }
        const displayData = computed(() => {
          if (filterData.value.length >= 20) {
            return filterData.value.slice(num.value * 20 + 0, num.value * 20 + 20)
          } else {
            return filterData.value
          }
        })
        // detail 頁面顯示切換
        const temp = ref({})
        const isShow = ref(true)
        function display(item) {
          scrollToTop()
          isShow.value = false
          temp.value = { ...item }
          temp.value.area = temp.value.area.toLocaleString()
          temp.value.population = temp.value.population.toLocaleString()
        }
        // aside rank 
        const rankPopulation = computed(() => {
          const population = [...filterData.value].sort((a, b) => b.population - a.population)
          return population.slice(0, 5)
        })
        const rankArea = computed(() => {
          const area = [...filterData.value].sort((a, b) => b.area - a.area)
          return area.slice(0, 5)
        })
        const rankLanguages = computed(() => {
          const languages = [...filterData.value].map((item) => item.languages[0].name)
          const sumLanguages = languages.reduce((obj, content) => {
            if (!obj[content]) obj[content] = 1
            else obj[content] += 1
            return obj
          }, {})
          return Object.entries(sumLanguages).sort((a, b) => b[1] - a[1]).slice(0, 5)
        })
        const rankCurrencies = computed(() => {
          const currencies = [...filterData.value].map((item) => item.currencies[0].name)
          const sumCurrencies = currencies.reduce((obj, content) => {
            if (!obj[content]) obj[content] = 1
            else obj[content] += 1
            return obj
          }, {})
          return Object.entries(sumCurrencies).sort((a, b) => b[1] - a[1]).slice(0, 5)
        })
        const sumPopulation = computed(() => {
          return [...filterData.value].reduce((total, item) => total + item.population, 0)
        })
        const sumArea = computed(() => {
          return [...filterData.value].reduce((total, item) => total + item.area, 0)
        })
        // header 點擊顯示時間
        const header = ref('Hello World!')
        function showTime() {
          setInterval(() => {
            const date = new Date()
            header.value = `It's ${date.toLocaleTimeString('it-IT')}.`
          }, 1000)
        }
        // copyright 自動變更年份 
        const copyright = ref('copyright©' + new Date().getFullYear() + ' Anny Cheng.')
        const source = ref('https://restcountries.eu')
        return {
          data,
          num,
          region,
          header,
          copyright,
          source,
          isShow,
          temp,
          getData,
          showTime,
          changeRegion,
          prePage,
          nextPage,
          display,
          filterData,
          displayData,
          rankPopulation,
          rankArea,
          input,
          rankLanguages,
          rankCurrencies,
          sumPopulation,
          sumArea
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>
